<main>
  <app-menu-title></app-menu-title>
  <article class="container__articles">
    <section class="articles__main">
      <app-big-card photoCover="https://source.unsplash.com/random/?developer" cardTitle="lorem ipsum dolor sit amet."
        cardDescription="lorem ipsum dolor sit amet consectetur adipisicing elit.">
      </app-big-card>
    </section>
    <section class="articles__others">
      <app-small-card cardTitle="lorem ipsum dolor sit amet consectetur."
        photoCover="https://source.unsplash.com/random/?javascript"></app-small-card>
      <app-small-card cardTitle="lorem ipsum dolor sit amet consectetur."
        photoCover="https://source.unsplash.com/random/?programming"></app-small-card>
    </section>
  </article>
</main>